* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}

button {
	all: unset;
}

body {
	margin: 0;
	background-color: #0e0e0e;
}

header,
footer {
	padding: 0 10%;
}

section {
	padding: 100px 10%;
}

nav {
	display: flex;
	padding: 20px 0;
}

a {
	text-decoration: none;
}

.wrapper {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	background-color: #1f2937;
}

.bold-and-white {
	font-weight: 900;
	color: #f9faf8;
}

.grey {
	color: #e5e7eb;
	font-size: 18px;
}

#logo {
	height: fit-content;
	margin-right: auto;
	font-size: 24px;
}

ul {
	display: flex;
	align-items: center;
	gap: 20px;
	list-style-type: none;
}

li {
	a:visited {
		color: inherit;
	}
}

section:first-of-type {
	display: flex;
	gap: 60px;
	flex-wrap: wrap;
	justify-content: center;

	> div:first-of-type {
		flex: 1 0 400px;
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	h1 {
		font-size: 48px;
	}
}

.main-img {
	object-fit: cover;
}

.item-img {
	border: 4px solid #3b82f6;
	border-radius: 16px;
}

.btn {
	background-color: #3882f6;
	color: #fff;
	font-size: 18px;
	padding: 8px 36px;
	border-radius: 8px;
}

section:nth-of-type(2) {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 44px;
	gap: 44px;

	h2 {
		color: #1f2937;
		font-size: 36px;
		width: 900;
	}
	ul {
		gap: 52px;
	}
	li {
		width: 144px;
		text-align: center;
		color: #4b5563;
		font-size: 13px;
	}
}

section:nth-of-type(3) {
	background-color: #e5e7eb;

	blockquote {
		display: flex;
		flex-direction: column;
		padding: 0 100px;
	}

	p {
		font-size: 36px;
		font-style: italic;
		font-weight: 300;
		color: #1f2937;
	}

	cite {
		font-style: normal;
		align-self: flex-end;
		font-size: 24px;
		font-weight: 700;
	}
}

section:nth-of-type(4) {
	background-color: #fff;
	color: #fff;

	> div {
		background-color: #3882f6;
		padding: 40px 100px;
		border-radius: 8px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	h2 {
		font-size: 18px;
		margin-bottom: 4px;
	}

	p {
		color: #e5e7eb;
		font-size: 14px;
	}

	button {
		border: 1px solid #fff;
		padding: 5px 30px;
		border-radius: 6px;
		color: #fff;
	}
}

footer {
	color: #e5e7eb;
	display: flex;
	padding: 32px 0;

	p {
		margin: 0 auto;
	}

	span {
		margin: 0 4px;
	}
}
