* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color: #0e0e0e;
}

header,
footer {
	padding: 0 10%;
}

section {
	padding: 100px 10%;
}

nav {
	display: flex;
	padding: 20px 0;
}

a {
	text-decoration: none;
}

.wrapper {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	background-color: #1f2937;
}

.bold-and-white {
	font-weight: 900;
	color: #f9faf8;
}

.grey {
	color: #e5e7eb;
	font-size: 18px;
}

#logo {
	height: fit-content;
	margin-right: auto;
	font-size: 24px;
}

ul {
	display: flex;
	align-items: center;
	gap: 20px;
	list-style-type: none;
}

li {
	a:visited {
		color: inherit;
	}
}

section:nth-of-type(2),
section:nth-of-type(4) {
	background-color: #fff;
}
section:nth-of-type(3) {
	background-color: #e5e7eb;
}

section:first-of-type {
	display: flex;
	gap: 60px;
	flex-wrap: wrap;
	justify-content: center;

	> div:first-of-type {
		flex: 1 0 400px;
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	h1 {
		font-size: 48px;
	}
}

.image {
	width: 500px;
	height: 250px;
	background-color: #e5e7eb;
	flex: none;
}

.btn {
	background-color: #3882f6;
	color: #fff;
	font-size: 18px;
	padding: 8px 36px;
	border-radius: 8px;
}
